<nav>
   <div className="title-and-version">
     <h1>
       <a href="/app/" style={{ color: "white !important" }}>
         Pytch
       </a>
     </h1>
     <a className="version-tag" href="/doc/releases/changelog.html">
       v1.11.1
     </a>
   </div>
   <div
     className="hamburger-menu"
     onclick="toggleNav()"
     aria-label="click here for navigation menu"
   >
     <div />
     <div />
     <div />
   </div>
   <ul>
     <li>
       <a href="https://pytch.scss.tcd.ie/">About... </a>
     </li>
     <li>
       <a href="/doc/index.html">Help/Info?</a>
     </li>
     <Link to="/tutorials/">
      <li>Tutorials</li>
    </Link>
     <li>
       <a href="https://pytch.scss.tcd.ie/lesson-plans/">Lesson plans</a>
     </li>
     <li>
       <a href="/app/my-projects/">My projects</a>
     </li>
     <li className="mail">✉</li>
   </ul>
 </nav>
 