@import "./pytch-variables.scss";

// TODO: Use the "high contrast" theme instead?  Can choose under
// the "Settings" menu in Scratch.  Then with dark text.
//
$block-category-backgrounds: (
  "motion": #4797ff,
  "looks": #9966ff,
  "sound": #d65cd6,
  "events": $scratch-hat-block-background,
  "control": #ffab19,
  "sensing": #4cbfe6,
  "operators": #40bf4a,
  "variables": #ff8c1a,
  "lists": #ff661a,
  "instances": $pytch-colour-main-blue,
);

$hovered-method-bg: darken($secondary-bg-color, 5);

@each $cat, $bg in $block-category-backgrounds {
  .HelpSidebarSection.category-#{$cat} {
    --pytch-help-category-background: #{$bg};
    --pytch-help-category-hover-background: #{darken($bg, 15)};
  }
}

.ActivityContent .HelpSidebar .content .inner-content {
  .HelpSidebarSection {
    summary {
      display: block;
      padding: 4px;
    }

    details summary {
      padding-bottom: 8px;
      h2 + * {
        margin-left: 32px;
      }
    }

    > details:last-child {
      margin-bottom: 1rem;
    }

    summary h1 {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: stretch;
      margin-bottom: 0px;

      background-color: var(--pytch-help-category-background);
      &:hover {
        background-color: var(--pytch-help-category-hover-background);
      }
      transition-property: background-color;
      transition-duration: 150ms;

      border-radius: 4px;
      cursor: pointer;
      user-select: none;

      .content,
      .accordion-signifier {
        padding: 2px 6px;
        background-color: #ffffffa0;
        color: #222;
        border-radius: 4px;
        font-size: 16px;
      }

      .content {
        margin: 6px 1rem;
        font-weight: normal;
      }
    }

    details summary h2 .accordion-signifier,
    summary h1 .accordion-signifier {
      display: grid;
      place-content: center center;

      // The difference in padding is because the angle-down icon seems
      // to be not quite vertically centred in its box.
      .for-collapsed {
        display: block;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .for-expanded {
        display: none;
        padding-top: 2px;
      }
    }

    summary h1 .accordion-signifier {
      width: 1.5rem;
      margin: 6px 0px 6px 0.5rem;
    }

    details summary h2 .accordion-signifier-container {
      background-color: var(--pytch-help-category-background);
      &:hover {
        background-color: var(--pytch-help-category-hover-background);
      }
      border-radius: 4px;
      .accordion-signifier {
        border-radius: 4px;
        background-color: #ffffffa0;
        font-size: 0.875rem;
        padding: 3px;
        width: 1rem;
        margin: 4px;
      }
    }

    details[open] summary h2 .accordion-signifier,
    &[open] summary h1 .accordion-signifier {
      .for-collapsed {
        display: none;
      }
      .for-expanded {
        display: block;
      }
    }

    h2 {
      font-size: 1rem;
      font-weight: bold;

      &.has-python,
      &.non-method {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: left;
      }
      &.non-method {
        font-size: 1.125rem;
        align-items: center;
      }
    }

    .no-help-entries-help {
      margin: 0px 4px 8px;
      font-style: italic;
    }
  }

  .pytch-method {
    margin-top: 0.5rem;
    background-color: $secondary-bg-color;

    &:hover {
      background-color: $hovered-method-bg;
    }

    h2 code {
      /* Counteract border */
      margin-left: -4px;
    }

    .help-text {
      padding: 6px;
      padding-top: 8px;
      border-top: 1px solid #aaa;
    }

    .help-sidebar-button {
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: auto auto;
      justify-items: center;
      align-items: center;
      padding: 2px 8px;

      color: $pytch-colour-main-blue;
      border: 1px solid $pytch-colour-main-blue;

      &:hover {
        background-color: $pytch-colour-main-blue;
        color: $pytch-colour-main-yellow;
      }

      > *:first-child {
        margin-right: 0.5rem;
      }
    }

    .python-with-buttons,
    .scratch-with-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      &.long {
        flex-direction: column;
        align-items: flex-start;
        button {
          margin-top: 0.5rem;
          align-self: flex-end;
        }
      }

      margin-top: 0.25rem;
    }

    svg.scratchblocks {
      margin: 0px;
    }
  }

  em {
    padding-right: 0.1667rem;
  }

  pre.help-sidebar-example-snippet {
    background-color: white;
    line-height: 1rem;
    padding: 8px;
    > pre {
      margin: 0px;
      padding: 0px;
      min-height: 0.75rem;
      > code {
        font-size: 14px;
        padding: 0px;
      }
    }
  }

  pre,
  code {
    padding: 4px;
    color: black;
    font-family: $monospace-fonts;
  }

  .draggableHatBlock {
    padding: 4px 2px;
    margin: -4px -2px;

    cursor: grab;
    &:hover {
      background-color: $pytch-colour-main-yellow;
    }
  }
}
