@use "sass:map";
@import "../node_modules/bootstrap/scss/bootstrap";

/*
Background colours for the various "cards": actor, appearance, sound.

TODO: Use our brand colours (from graphic designer) somehow?
*/
$stage-card-background: #262;
$sprite-card-background: #22c;

$ide-gap: 6px;

.abs-0000,
.abs-0000-oflow {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.abs-0000-oflow {
  overflow: auto;
}

////////////////////////////////////////////////////////////////////////

@mixin background-color-as-button($base-bg) {
  background-color: $base-bg;
  &:hover {
    background-color: shade-color($base-bg, $btn-hover-bg-shade-amount);
  }
  transition: background-color 0.15s ease-in-out;
}

////////////////////////////////////////////////////////////////////////

@mixin min-dimens-zero() {
  min-width: 0;
  min-height: 0;
}

@mixin grid-hstack-two($left, $right) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: $left $right;
  column-gap: $ide-gap;
}

@mixin grid-vstack-two($top, $bottom) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $top $bottom;
  row-gap: $ide-gap;
}

////////////////////////////////////////////////////////////////////////

@mixin border-and-label-bg($colour) {
  border-color: $colour;
  .label {
    background-color: $colour;
  }
}

////////////////////////////////////////////////////////////////////////

.Junior-IDEContents {
  margin: $ide-gap;
  @include grid-hstack-two(1fr, auto);
}

////////////////////////////////////////////////////////////////////////

.Junior-EditorAndInfo {
  @include min-dimens-zero();
  @include grid-vstack-two(2fr, 1fr);
}

.Junior-StageAndActorsList {
  @include min-dimens-zero();
  @include grid-vstack-two(auto, 1fr);
}

////////////////////////////////////////////////////////////////////////

.Junior-ActorProperties-container {
  @include min-dimens-zero();
  @include grid-vstack-two(auto, 1fr);
  background-color: pink;

  .tab-content {
    overflow: auto;
    position: relative;
  }
}

.Junior-InfoPanel-container {
  @include min-dimens-zero();
  @include grid-vstack-two(auto, 1fr);
  background-color: blue;

  .tab-content {
    overflow: auto;
  }
}

////////////////////////////////////////////////////////////////////////

.Junior-ActorsList-container {
  position: relative;
  background-color: red;

  .ActorsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

    margin-top: 0.5rem;
  }
}

.Junior-CodeEditor {
  @include grid-hstack-two(auto, 1fr);
  > * {
    @include min-dimens-zero();
    overflow: auto;
  }
}

.Junior-HelpSidebarMachinery {
  &.expanded {
    @include grid-vstack-two(auto, 1fr);
  }

  .content {
    width: 23rem;
    min-height: 0;
    overflow: auto;
    .inner-content {
      margin: 1rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////

.Junior-AppearancesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;

  background-color: $panel-background;
  margin-top: 0.5rem;
}

////////////////////////////////////////////////////////////////////////

.AppearanceCard,
.ActorCard {
  cursor: pointer;
  user-select: none;
  position: relative;

  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 6px;

  background-color: transparent;

  &.isFocused {
    background-color: lighten(map.get($theme-colors, "primary"), 25);
  }

  .dropdown {
    display: none;
    border-radius: 4px;

    position: absolute;
    right: -0.3333rem;
    top: -0.3333rem;

    button {
      padding: 0.25rem;
      font-size: 0.6667rem;
    }
  }

  &.isFocused .dropdown {
    display: block;
  }

  .AppearanceCardContent,
  .ActorCardContent {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 2px;
    background-color: white;

    .label {
      padding: 0.25rem;
      font-size: 0.875rem;
      text-align: center;
      color: white;
      overflow-x: hidden;
      text-overflow: ellipsis;
      margin: 0px;

      pre {
        margin: 0px;
      }
    }
  }

  &.kind-stage .AppearanceCardContent,
  &.kind-stage .ActorCardContent {
    @include border-and-label-bg($stage-card-background);
  }

  &.kind-sprite .AppearanceCardContent,
  &.kind-sprite .ActorCardContent {
    @include border-and-label-bg($sprite-card-background);
  }

  // Specify size separately because in due course we'll use this set of
  // style rules for Appearance and Sound cards/content too.
  .ActorCardContent {
    width: 7rem;
    height: 8rem;
  }

  .AppearanceCardContent {
    width: 11rem;
    height: 11rem;
  }

  .thumbnail {
    flex-grow: 1;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd;

    .asset-preview {
      text-align: center;
      font-size: 0.75rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////

.NoContentHelp {
  margin: 2rem 3rem 1rem;
}

////////////////////////////////////////////////////////////////////////

.AddSomethingButton {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: right;

  div {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;

    @include background-color-as-button($primary);

    color: white;
    padding: 6px;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}

////////////////////////////////////////////////////////////////////////

.AddSpriteModal {
  .validity-assessment {
    p {
      min-height: 3rem;
    }
    &.valid {
      visibility: hidden;
    }
  }
}
