$color_1: white;
$color_2: #fff792;
$color_3: #aaaaaa;
$color_4: #000;
$color_5: #aaa;
$color_6: #fff;
$color_7: #ff44b0;
$color_8: black;
$color_9: #D5D7DB;
$font-family_1: 'Hanken Grotesk', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: "IBM Plex Sans",Helvetica,Arial,sans-serif;
$background-color_1: #306998;
$background-color_2: transparent;
$background-color_3: rgb(0,0,0);
$background-color_4: rgba(0,0,0,0.4);
$background-color_5: #fefefe;
$background-color_6: #44b;
$background-color_7: #fff;
$background-color_8: #228;
$background-color_9: #333;
$background-color_10: #00b5b0;
$background-color_11: black;
$background-color_12: rgba(76, 76, 76, 0.42);
$background-color_13: #3f6796;
$background-color_14: #a234ff;
$background-color_15: #ff44b0;
$background-color_16: #dc1d8c;
$background-color_17: #f8f8f8;
$border-color_1: transparent transparent transparent #ff44b0;
$border-left-color_1: #0585e8;

.ToggleUiStylePanel {
    max-width: 36rem;
    padding: 1rem;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid $color_1;
    font-size: 110%;
    box-sizing: border-box;
	border: 1px solid $background-color_1;
	.welcome-change-ui-style {
		text-align: center;
	  }
	  > .summary {
	  display: grid;
	  grid-template-columns: auto 1fr;
	  align-items: center;
	}
	.pseudo-link{
		font-style: italic;
		-webkit-user-select: none;
		user-select: none;
		cursor: pointer;
		color: #306998;
	}
  }


/*
$color_1: $main-bg-color;
$color_2: $pytch-colour-main-yellow;
$color_7: $pytch-colour-accent-pink;
$background-color_1: $pytch-colour-main-blue;
$background-color_10: $pytch-colour-accent-cyan;
$background-color_15: $pytch-colour-accent-pink;
$background-color_17: $main-bg-color;
$border-color_1: transparent transparent transparent $pytch-colour-accent-pink;
*/

$color_3: #aaaaaa;
$color_4: #000;
$color_5: #aaa;
$color_6: #fff;
$color_8: black;
$color_9: #D5D7DB;
$font-family_1: 'Hanken Grotesk', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: "IBM Plex Sans",Helvetica,Arial,sans-serif;
$background-color_2: transparent;
$background-color_3: rgb(0,0,0);
$background-color_4: rgba(0,0,0,0.4);
$background-color_5: #fefefe;
$background-color_6: #44b;
$background-color_7: #fff;
$background-color_8: #228;
$background-color_9: #333;
$background-color_11: black;
$background-color_12: rgba(76, 76, 76, 0.42);
$background-color_13: #3f6796;
$background-color_14: #a234ff;
$background-color_16: #dc1d8c;
$border-left-color_1: #0585e8;

/* Hansken Grotesk */
/* Px Grotesk */
/* 252, 245, 140 for yellow */
/* ********** */
/* Carousel  */
/* ********** */
/* ********** */
/* wodal for video */
/* ********** */
/* The wodal (background) */
/* wodal Content */
/* The Close Button */
/* ********** */
/* Nav bar    */
/* ********** */
/* Hamburger Menu Styles */
/* Media Query for Small Screens */
/* ********** */
/* Grid specification */
/* ********** */
/* ********** */
/* Computer screen */
/* ********** */
/* ********** */
/* footer     */
/* ********** */
/* A lot of the following no longer used */
/* Next Button */
/* ----------- */
/* divider has a number of paragrah elements which add unwanted whitespace on small screens. 
    Ensuring that text within coding journey has adequite space to not word wrap but not add unwanted page width is a pain */
/* NDA Vacancies */
@font-face {
	font-family: "icons";
	src: url("../fonts/icons/icons.eot?2eea613914c1e47b17dc92d510b7b4bd?#iefix") format("embedded-opentype"),url("../fonts/icons/icons.woff2?2eea613914c1e47b17dc92d510b7b4bd") format("woff2"),url("../fonts/icons/icons.woff?2eea613914c1e47b17dc92d510b7b4bd") format("woff"),url("../fonts/icons/icons.ttf?2eea613914c1e47b17dc92d510b7b4bd") format("truetype"),url("../fonts/icons/icons.svg?2eea613914c1e47b17dc92d510b7b4bd#icons") format("svg");
}
/* Media query for mobile */
.sitemap {
	display: flex;
	margin: auto;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 10px;
	}
}
.list-container {
	flex-grow: 1;
}
section {
	h2 {
		font-size: 2rem;
	}
}
* {
	font-family: $font-family_1 !important;
}
.rounded-button {
	border-radius: 14px;
	padding: 10px 20px;
	color: $color_1;
	cursor: pointer;
	font-size: 1.3rem;
	background-color: $background-color_1;
	border: 2px solid #fff792;
	width: 240px;
	height: 84px;
	background-image: url('public/assets/MicrosoftTeams-image.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow: 2px 2px 2px black;
	&:hover {
		filter: brightness(80%);
	}
}
.square {
	flex: 1;
	height: 200px;
	margin: 0 10px;
	background-color: $background-color_1;
	border-radius: 20px;
	color: $color_1;
	font-size: larger;
	text-align: center;
	padding: 5px;
	&:hover {
		filter: brightness(1.15);
		cursor: pointer;
	}
}
body {
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	color: $color_4;
	font-weight: 400;
	line-height: 1.75;
	background-color: $background-color_17 !important;
	font-size: 16px;
}
button {
	background-color: $background-color_2;
	border: none;
	padding: 0;
}
#play_button {
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
	transition: filter 0.3s ease-in-out;
	cursor: pointer;
	&:hover {
		filter: drop-shadow(0 0 10px rgba(255, 2, 2));
	}
}
.TutorialMiniCard {
	img {
		transition: transform 0.07s;
		width: 200px;
		margin: auto;
		display: block;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		filter: drop-shadow(5px 5px 5px #222);
		max-width: 90%;
	}
	h2 {
		color: white;
	}
	p {
		color: white;
		margin-top: 30px;
		max-width: 100%;
	}
	a {
		color: $color_2 ;
		transition: color 0.22s ease-out;
		text-decoration: none;
	}
	flex: 1;
	border: 1px solid #ccc;
	padding: 20px;
	box-sizing: border-box;
	text-align: justify;
	border-radius: 10px;
	background-color: $background-color_1;
	filter: drop-shadow(2);
	min-height: 600px;
	&:hover {
		img {
			transition: transform 0.3s ease-in-out, flex-grow 0.3s ease-in-out;
			transform: scale(1.2);
			margin-bottom: 2px;
		}
	}
}
.outer-container {
	display: flex;
	align-items: center;
	padding-left: 10vw;
}
#TutorialCarousel {
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	color: $color_1;
	width: 70vw;
	gap: 10px;
}
.left-arrow {
	font-size: 44px;
	margin: 5px;
	cursor: pointer;
}
.right-arrow {
	font-size: 44px;
	margin: 5px;
	cursor: pointer;
}
.ccont {
	border-top-right-radius: 25px;
	height: 90%;
	width: 90%;
	margin-right: 70px !important;
	border-top-right-radius: 2.5rem;
	height: 90%;
	width: 90%;
}
.wodal-content {
	.ccont {
		border-radius: 5px;
	}
	background-color: $background-color_5;
	margin: auto;
	padding: 20px;
	border: 1px solid #000000;
	width: 80%;
}
.wodal {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 20px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_3;
	background-color: $background-color_4;
	h1 {
		color: $color_1;
		filter: brightness(1.75);
	}
}
.close {
	color: $color_3;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		color: $color_4;
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		color: $color_4;
		text-decoration: none;
		cursor: pointer;
	}
}
nav {
	background-color: $background-color_1;
	border-bottom: 0.3rem solid #fff792;
	grid-area: nav;
	background-color: $background-color_8;
	color: $color_6;
	padding: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
	a {
		color: $color_2 !important;
		transition: color 0.22s ease-out;
		text-decoration: none;
	}
	.title-and-version {
		h1 {
			display: inline-block;
			margin-right: 0;
		}
		.h1 {
			display: inline-block;
			margin-right: 0;
		}
		p.version-tag {
			display: inline-block;
			font-size: .875rem;
			margin-bottom: 0;
			margin-left: 6px;
			a {
				color: $color_5;
			}
		}
	}
	h1 {
		padding: 8px;
		margin: 0px 2rem;
		font-size: 1.5rem;
		font-weight: 700;
		color: $color_6;
		&:hover {
			background-color: $background-color_6;
			border-radius: 4px;
		}
	}
	.h1 {
		padding: 8px;
		margin: 0px 2rem;
		font-size: 1.5rem;
		font-weight: 700;
		color: $color_6;
		&:hover {
			background-color: $background-color_6;
			border-radius: 4px;
		}
	}
	li {
		&:hover {
			background-color: $background-color_6;
			border-radius: 4px;
		}
	}
	ul {
		margin: 0;
		li {
			display: inline-block;
			margin-right: 2rem;
			padding: 8px;
			font-size: 1.25rem;
			color: $color_6;
			cursor: pointer;
			-webkit-user-select: none;
			user-select: none;
			a {
				color: $color_6;
			}
		}
	}
}
.hamburger-menu {
	display: none;
	flex-direction: column;
	cursor: pointer;
	div {
		width: 30px;
		height: 3px;
		background-color: $background-color_7;
		margin: 6px 0;
	}
}
.container {
	display: grid;
	grid-template-areas: 'nav' 'header' 'divider' 'main' 'easyish' 'contact' 'footer';
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
header {
	background-color: $background-color_1;
	border-bottom: 0.4rem solid #fff792;
	grid-area: header;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	background-position: 55% 40%;
	background-image: url('public/assets/IMG_20230511_182016_068-1-scaled-1.webp');
	background-size: 50%;
	background-size: cover;
	min-height: 60vh;
	border-bottom: 2px solid #fcf58c;
	color: $color_1;
	padding-bottom: 10vh;
	section {
		max-width: 100vw;
		padding-left: 5vw;
	}
}
.contact {
	grid-area: contact;
	max-width: 100vw;
	.mail {
		color: $color_8 !important;
		font-size: 5rem;
	}
}
.divider {
	grid-area: divider;
	margin-top: -35px;
	margin-left: calc(15% - 85px);
	z-index: 2;
}
main {
	grid-area: main;
	padding: 2%;
}
footer {
	grid-area: footer;
	text-align: center;
	padding: 10px;
	background-color: $background-color_9;
	color: $color_1;
	max-width: 100vw;
	a {
		color: $color_2 ;
		transition: color 0.22s ease-out;
		text-decoration: none;
	}
}
.easy {
	grid-area: easyish;
	max-width: 100vw;
	text-align: center;
	padding: 10px;
	background-color: $background-color_10;
	color: $color_1;
	border-top: 1.5px solid #306998;
	border-bottom: 1.5px solid #306998;
	margin-bottom: 20px;
	.section-content {
		display: flex;
		max-width: 100%;
		align-items: center;
		justify-content: center;
		padding-right: 8vw;
		padding-left: 8vw;
	}
}
.section-content {
	.cbody {
		max-width: 80vw;
		max-height: 80vw;
	}
	.cmain {
		max-width: 80vw;
		max-height: 80vw;
	}
	.pytch_images {
		border: calc(8px + 0.2vw) solid transparent;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
		border-radius: 10%;
	}
	img {
		margin: 10px;
	}
	max-width: 1200px;
	margin: 0 auto;
}
.cbody {
	display: inline-block;
	height: 7.5rem;
	width: 25rem;
	text-align: center;
	max-width: 100vw;
	margin-right: 15%;
	margin-bottom: 20%;
}
.cmain {
	height: 14rem;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
	background-color: $background-color_11;
	overflow: hidden;
}
.ctop {
	width: 2.5rem;
}
.ccontentwrap {
	display: inline-block;
	margin-top: 0.625rem;
	width: 23rem;
	height: 12.5rem;
	background-color: $background-color_12;
	text-align: center;
}
.ccontent {
	width: 64rem;
	height: 35rem;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	transform: scale(.38);
}
#myBtn {
	cursor: pointer;
}
.cbottom {
	height: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	background: linear-gradient(35deg, rgb(114, 114, 114), rgb(197, 197, 197), rgb(218, 218, 218));
	border-bottom: 1px solid rgb(92, 91, 91);
}
.cleg {
	display: inline-block;
	vertical-align: top;
	width: 4rem;
	height: 1.25rem;
	background: linear-gradient(0deg, rgb(114, 114, 114), rgb(255, 255, 255), rgb(197, 197, 197), rgb(114, 114, 114));
	-webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.cfoot {
	display: inline-block;
	vertical-align: top;
	width: 3.25rem;
	height: 0.5rem;
	background: linear-gradient(0deg, rgb(197, 197, 197), rgb(197, 197, 197), rgb(114, 114, 114));
	-webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(12% 0%, 88% 0%, 100% 100%, 0% 100%);
	border-bottom-right-radius: 2.25rem;
	border-bottom-left-radius: 2.75rem;
	border-bottom: 0.1rem solid rgb(114, 114, 114);
}
.site-footer {
	background-color: $background-color_13;
	color: $color_1;
	padding: 20px;
}
.section-heading {
	display: flex;
	align-items: center;
}
.section-logo {
	width: 40px;
	margin-right: 10px;
}
.large-text {
	font-size: 18px;
}
.section-icons {
	margin-top: 10px;
}
.section-buttons {
	margin: auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	p {
		max-width: 80%;
		padding-right: 5%;
	}
}
.left-button {
	font-size: 16px;
}
.right-buttons {
	button {
		font-size: 14px;
	}
}
.section-images {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	img {
		width: 80vw;
		margin: auto;
	}
}
.button0 {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background-color: $background-color_14;
	color: $color_6;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}
.button {
	display: inline-block;
	padding: 7px 15px;
	border: none;
	border-radius: 10px;
	background-color: $background-color_15;
	color: $color_6;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	font-family: $font-family_2;
	&:hover {
		background-color: $background-color_16;
	}
}
.arrowbutton {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	font-family: $font-family_2;
	position: relative;
	margin: 0;
	border-left: solid #ff44b0;
	border-top: solid #ff44b0;
	border-bottom: solid #ff44b0;
	border-width: 2px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 2.8px;
	padding-bottom: 2.8px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: transparent;
	color: $color_7;
	font-size: 18px;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		background: linear-gradient(to right, #ff44b0 0%, transparent 100%);
	}
	&:hover {
		background: #0585e8;
	}
}
.next {
	&::after {
		right: -28px;
		border-width: 14px;
		border-style: solid;
		border-color: $border-color_1;
	}
	&:hover {
		&::after {
			border-left-color: $border-left-color_1;
		}
	}
}
.mail {
	text-decoration: none;
	margin-right: 5vw;
	&:hover {
		text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
	}
}
iframe {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 0;
	text-align: left;
}
th {
	padding: 0;
	text-align: left;
}
.reveal-on-enter {
	opacity: 0;
}
textarea {
	width: 100%;
	padding: 15px;
	min-height: 150px;
	line-height: 1.75;
	overflow: auto;
	&:focus {
		width: 100%;
		padding: 15px;
		min-height: 150px;
		line-height: 1.75;
		overflow: auto;
	}
}
/*
&::-webkit-input-placeholder {
	color: $color_9;
	font-size: 12px;
}
&:-moz-placeholder {
	color: $color_9;
	font-size: 12px;
}
&::-moz-placeholder {
	color: $color_9;
	font-size: 12px;
}
&:-ms-input-placeholder {
	color: $color_9;
	font-size: 12px;
}
*/
html {
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	width: 100vw;
	scroll-behavior: smooth;
}
.icon-youtube {
	&:before {
		content: "\f144";
	}
}

@media screen and (max-width: 1068px) {
	.version-tag {
		display: none;
	}
}
@media screen and (max-width: 668px) {
	.version-tag {
		display: inline;
	}
	.hamburger-menu {
		margin-left: 10vw;
		margin-right: auto !important;
	}
}
@media screen and (max-width: 768px) {
	header {
		height: 600px !important;
	}
	.square {
		font-size: medium;
		height: auto;
		margin: 10px 0;
		border: 1px solid white;
	}
	.wodal-content {
		width: 90% !important;
		overflow: hidden !important;
	}
	.rounded-button {
		margin-left: 10vw;
	}
}
@media screen and (max-width: 640px) {
	nav {
		ul {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 60px;
			left: -15px;
			width: 100%;
			background-color: $background-color_1;
			z-index: 1;
			border-radius: 3px;
			li {
				margin: 0;
				padding: 10px;
				text-align: center;
				width: 90%;
			}
		}
		ul.show {
			display: flex;
		}
	}
	.hamburger-menu {
		display: flex;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 768px) {
	header {
		grid-template-columns: 1fr;
		height: 450px;
		section {
			padding-left: 0vw;
			p {
				padding: 10px;
			}
		}
	}
	.text-wrap {
		display: none;
		height: 0px;
	}
	.divider {
		margin-top: 0%;
	}
	.image-text {
		font-size: 150%;
		width: 400px;
		min-width: 60vw;
		max-width: 90vw;
		text-shadow: 2px 2px 2px rgba(0,0,0,1);
		filter: drop-shadow(-1px 0px 0px #000000);
	}
}
@media only screen and (min-width: 768px) {
	body {
		font-size: 15px;
	}
}
@media only screen and (min-width: 1024px) {
	body {
		font-size: 16px;
		&:hover {
			&:after {
				cursor: pointer;
			}
		}
		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(0,0,0,0.7);
			transition: opacity 0.22s ease-out;
			opacity: 0;
			visibility: hidden;
		}
	}
}
@media (max-width: 968px) {
	.easy {
		flex-direction: column;
	}
	.section-content {
		flex-direction: column;
		img {
			margin: 0px;
			max-width: 80%;
		}
	}
	.sitemap {
		flex-direction: column;
	}
	.cbody {
		margin-left: 15%;
		margin-bottom: 30vh;
	}
	.ccont {
		max-width: 70%;
		margin-right: 20%;
	}
}
@media (max-width: 668px) {
	footer {
		.section-content {
			flex-direction: column;
		}
	}
	.sitemap {
		flex-direction: column;
	}
	.section-content {
		margin-bottom: 100px;
	}
}
@media (max-width: 300px) {
	.ccont {
		max-width: 40%;
		margin-right: 40%;
	}
}
