@import "../node_modules/bootstrap/scss/bootstrap";

$monospace-fonts: "Menlo", "Monaco", "Ubuntu Mono", "Consolas",
  "source-code-pro", monospace;

$help-sidebar-expand-button-background: lighten($primary, 20);

// This isn't actually the colour Scratch uses; we use something a bit
// darker to give better contrast with white text:
$scratch-hat-block-background: #f0b400;

$hat-block-TR-radius: 8px;

$help-sidebar-content-width: 23rem;
