@use "sass:map";
@import "./pytch-jr-common.scss";
@import "./pytch-mixins.scss";
@import "./pytch-variables.scss";

// If the last thing in a chapter is a LearnerTask, then below that
// content is either the "do the task to see more" message, or the "next
// chapter" button.  Make them the same height to avoid layout jitter.
$chapter-final-content-height: 4rem;

.HatBlock.display-only {
  cursor: default;
  margin-top: -0.5rem; /* Allow for transform of bump */
  margin-bottom: 1rem;
  &.in-editor {
    margin-bottom: 0px;
  }
}

.InlineAddSomethingButton {
  display: inline-block;
  max-width: fit-content;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  .icon {
    margin-left: 0.5rem;
  }
  &.add-script {
    background-color: $scratch-hat-block-background;
    color: $scratch-hat-block-text-colour;
  }
  &.add-sprite,
  &.add-sprite-asset {
    background-color: $sprite-card-background;
  }
  &.add-stage-asset {
    background-color: $stage-card-background;
  }
}

.ScriptDiff {
  margin-bottom: 1rem;
  .code-representations {
    display: grid;
    background-color: #eee;
    .ScriptDiffView {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      visibility: hidden;

      &.isActive {
        visibility: visible;
      }

      > div:first-child > pre,
      > div:first-child > div > pre {
        padding-top: 0.25rem;
      }
      > div:last-child > pre,
      > div:last-child > div > pre {
        padding-bottom: 0.25rem;
      }

      > div {
        display: grid;
        grid-template-columns: 3rem 1fr;

        &.global-placeholder {
          display: block;
          pre {
            margin-left: 3rem;
            overflow: hidden;
            code {
              font-style: italic;
              font-size: 0.875rem;
            }
          }
        }

        &.context {
          background-color: white;
        }
        &.add,
        &.add-padding {
          background-color: rgb(230, 255, 236);
        }
        &.del,
        &.del-padding {
          background-color: rgb(255, 235, 233);
        }
        &.change,
        &.change-padding {
          background-color: rgb(235, 235, 255);
        }
        &.padding {
          background-color: #eee;
        }

        &.del-padding,
        &.add-padding {
          font-style: italic;
          code {
            font-size: 0.875rem;
          }
        }
        &.del-padding code {
          color: #511;
        }
        &.add-padding code {
          color: #151;
        }

        pre {
          margin: 0px;
          line-height: 1rem;
          overflow: hidden;
          &.lineno {
            background-color: #ddd;
            text-align: right;
            padding-right: 0.75rem;
          }
        }
        margin: 0rem;
        code {
          font-family: $monospace-fonts;
          color: black;
        }
      }
    }
  }

  .DiffViewKindSelector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    user-select: none;

    .DiffViewKindOption {
      margin-left: 2px; // Fixed for first child below
      margin-right: 2px; // Fixed for last child below

      @include background-color-as-button($pytch-colour-main-blue);
      color: $pytch-colour-main-yellow;
      font-size: 0.9rem;
      width: auto;
      text-align: center;
      padding: 2px 0.25rem;
      cursor: pointer;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      &.isActive {
        background-color: $pytch-colour-accent-cyan;
        color: white;
        cursor: default;
      }
    }

    .DiffViewKindOption-container {
      &:first-child > .DiffViewKindOption {
        margin-left: 0px;
      }
      &:last-child > .DiffViewKindOption {
        margin-right: 0px;
      }
    }
  }
}

$task-checkbox-done-colour: #6a6;
$task-checkbox-not-done-colour: #999;

.alert.LearnerTask {
  margin: 0rem -0.25rem 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-color: $pytch-colour-main-blue;

  .TaskCheckboxButton {
    display: flex;
    margin-right: 1rem;
    flex-direction: row;
    align-items: center;
    span {
      font-style: italic;
      margin: 0px 0.5rem;
    }
  }

  .to-do-checkbox {
    position: relative;
    margin: 0px;
    user-select: none;
    font-size: 2.5rem;
  }
  &.learner-task-old .to-do-checkbox {
    cursor: default;
    color: $task-checkbox-done-colour;
  }
  &.learner-task-previous .to-do-checkbox {
    cursor: pointer;
    @include foreground-color-as-button($task-checkbox-done-colour);
  }
  &.learner-task-current .to-do-checkbox {
    cursor: pointer;
    @include foreground-color-as-button($task-checkbox-not-done-colour);
  }

  .help-stage-divider {
    clear: both;
    margin-bottom: 1rem;
    height: 2px;
    background-color: #ccc;
  }

  .HelpStageFragment .error-summary {
    padding: 1rem;
    background-color: yellow;
    border: 4px solid darkred;
  }

  .LearnerTaskCommit {
    margin-bottom: 1rem;
  }

  .LearnerTaskButtonStrip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 2px 4px;
    }
  }

  .DisplayDropdownButton {
    white-space: nowrap;
    background-color: map.get($theme-colors, "primary");
    color: white;
    padding: 2px 6px 2px 4px;
    border-radius: 6px;

    .down-triangle {
      display: inline-block;
      font-size: 0.8rem;
      transform: translateY(-0.1rem);
    }
  }
}

.Junior-ChapterNavigation {
  width: 100%;
  height: $chapter-final-content-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.LessonTableOfContents {
  > h1.title {
    font-size: 1.125rem;
  }
  > ul.toc-contents li > div > h2 {
    margin: 0.25rem 0rem;
    font-size: 1rem;
    font-weight: normal;
  }
}

$progress-node-strip-x-margin: 16px;

$progress-node-box-size: 26px;
$progress-node-future-size: 10px;
$progress-node-future-padding: calc(
  ($progress-node-box-size - $progress-node-future-size) / 2
);

$progress-track-x-margin: calc(
  $progress-node-strip-x-margin + $progress-node-box-size / 2
);
$progress-track-thickness: 2px;

// It would look better if these were bigger, but if they're too big, a
// 12-chapter tutorial's progress trail is too wide when the viewport is
// narrow.
$progress-node-background-box-size: 36px;

$progress-node-backgrounds-strip-x-margin: calc(
  $progress-node-strip-x-margin -
    ($progress-node-background-box-size - $progress-node-box-size) / 2
);

.ProgressTrail {
  margin-top: 4px;
  height: 2.5rem;
  display: grid;
  align-items: center;

  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .node-hover-targets,
  .node-backgrounds {
    margin: 0rem $progress-node-backgrounds-strip-x-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .progress-node-hover-target,
  .progress-node-no-hover,
  .progress-node-background {
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    height: $progress-node-background-box-size;
    width: $progress-node-background-box-size;
  }

  .progress-node-background.isActive {
    border-color: white;
    background-color: rgba($color: white, $alpha: 0.2);
  }

  .node-hover-targets .progress-node-hover-target {
    &.canJumpHere {
      cursor: pointer;
    }

    .progress-node-tooltip {
      // Do not reveal tooltip when hovering over the tooltip itself
      // (only when hovering over the "hover target" div):
      pointer-events: none;

      display: flex;
      flex-direction: row;
      align-items: center;
      width: max-content;
      position: absolute;
      z-index: 1;
      transition-property: opacity;
      opacity: 0;
      top: 2.5rem;
      background-color: white;
      color: $text-main-color;
      border: 1px solid $inactive-text-option-color;

      .locked {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        color: $pytch-colour-main-blue;
      }

      h2 {
        font-size: 0.9rem;
        font-weight: normal;
        padding: 4px 0.5rem;
        margin: 0px;
      }
    }

    &:hover {
      background-color: rgba($color: $pytch-colour-main-yellow, $alpha: 0.2);
      z-index: 5; // On top of script line-numbers.
      .progress-node-tooltip {
        transition-delay: 0.5s;
        transition-duration: 0.15s;
        opacity: 1;
      }
    }
  }

  .track {
    margin: 0rem $progress-track-x-margin;
    height: $progress-track-thickness;
    background-color: $pytch-colour-main-yellow;
  }

  .nodes {
    margin: 0rem $progress-node-strip-x-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .progress-node {
      width: 0px;
      flex-grow: 0;
      position: relative;
      width: $progress-node-box-size;
      height: $progress-node-box-size;

      @include align-center-middle();

      span.progress-node-label {
        font-size: 14px;
        font-weight: bold;
      }

      border-radius: 30%;
      border: 2px solid $pytch-colour-main-yellow;

      &.kind-normal {
        background-color: $pytch-colour-main-blue;
        color: $pytch-colour-main-yellow;
      }
      &.kind-inverse {
        background-color: $pytch-colour-main-yellow;
        color: $pytch-colour-main-blue;
      }
      &.kind-ellipsis {
        background-color: $pytch-colour-main-blue;
        border-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .ellipsis-dot {
          width: 2px;
          height: 2px;
          background-color: $pytch-colour-main-yellow;
        }
      }
    }
  }
}

.Junior-LessonContent-HeaderBar {
  background-color: $pytch-colour-main-blue;

  .chapter-title,
  .specimen-name {
    color: $pytch-colour-main-yellow;
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    .chapter-number {
      display: inline-block;
      margin-right: 0.5rem;
      text-align: left;
      font-weight: bold;
    }
  }

  .specimen-name {
    margin-top: 0.5rem;
  }
}

.Junior-LessonContent {
  background-color: $panel-background;

  > .content {
    margin: 1rem 1rem 5rem;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      margin-top: 1.5rem;
      font-size: 1.25rem;
    }
    h3 {
      background-color: $pytch-colour-accent-lavender;
      color: black;
      padding: 6px;
      margin-left: -6px;
      margin-top: 2.5rem;
      font-size: 20px;
      font-weight: normal;
    }
    blockquote {
      margin: 0rem 4rem;
    }

    .display-scratchblocks {
      text-align: center;
      margin-bottom: 1rem;
    }
    .python-snippet {
      background-color: white;
      padding: 0.5rem;
      margin: -0.25rem 2rem 1rem;
      border-radius: 4px;

      &.python-expression {
        width: min-content;
      }

      pre {
        margin-bottom: 0px;
      }
    }

    code {
      margin: 0px 2px;
    }
    p > code,
    strong > code,
    li > code {
      color: $pytch-colour-main-blue-darkened;
      font-style: italic;
    }
    em > code {
      padding-left: 1px;
      color: $pytch-colour-main-blue-darkened;
      font-style: normal;
    }
    pre code {
      font-style: normal;
    }

    p.img-center {
      text-align: center;
    }

    .hint-do-task-to-see-more {
      height: $chapter-final-content-height;
      text-align: center;
      font-style: italic;
    }

    .asset-credits {
      .credit-intro {
        margin-bottom: 0.25rem;
      }
      .asset-filename {
        color: $pytch-colour-main-blue-darkened;
      }
      .credits {
        margin: 0rem 3rem;
      }
    }
  }
}
