@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #ddf;
    overflow-y: auto;
}

.NavBar {
    background-color: #228;
    color: white;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
    }
    h1 {
        padding: 8px;
        margin: 0px 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }
    h1:hover, li:hover {
        background-color: #44b;
        border-radius: 4px;
    }
    ul {
        margin: 0px;
        li {
            display: inline-block;
            margin-right: 2rem;
            padding: 8px;
            font-size: 1.25rem;
            color: white;
            cursor: pointer;
            user-select: none;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.ProjectList {
    overflow-y: auto;
    flex-shrink: 1;
    flex-grow: 1;
    h1 {
        margin: 1.5rem 0px;
        text-align: center;
    }
    ul {
        margin: 0px 3rem;
        padding: 0px;
        list-style: none;
        li {
            p { margin: 0px; padding: 1.25rem 0px; font-size: 1.125rem; }
            :hover { text-decoration: none; }
            .project-name {
                font-weight: bold;
            }
            .project-summary {
                margin-left: 2rem;
                font-style: italic;
            }
            .ProjectCard:hover {
                border: 1px solid black;
            }
        }
    }
    .buttons {
        margin: 1.5rem 0px;
        text-align: center;
    }
}
