.ProjectIDE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.StageWithControls {
  display: flex;
  flex-direction: column;
}

.StageControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    height: 36px;
    border-radius: 4px;
  }

  #build-button {
    min-width: 8em;
    background-color: lightgreen;
  }

  #green-flag,
  #red-stop {
    width: 48px;
  }

  #green-flag {
    background-color: green;
  }

  #red-stop {
    background-color: red;
  }

  #info-menu {
    width: 6rem;
    background-color: #33e;
    color: white;
  }
}

#pytch-canvas {
  margin-top: 0.5rem;
  border: 1px solid grey;
  border-radius: 2px;
  background: white;
}

.CodeEditor {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.5rem;
  display: flex;
  position: relative;
  z-index: 0;

  #editor {
    background-color: white;
    flex-grow: 1;
  }

  .ReadOnlyOverlay {
    z-index: 10;
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background-color: black;
    color: white;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      opacity: 1;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.CodeAndStage {
  display: flex;
  flex-direction: row;
}

.InfoPanel {
  min-height: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 0.5rem;
  a {
    background-color: #eef;
  }
}

.InfoPanel + div {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  background-color: white;
  position: relative;
}

.InfoPane {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.AssetCardPane,
.StandardOutputPane,
.ErrorsPane {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;

  p.placeholder {
    font-size: 1.125rem;
    margin: 2rem 3rem 1rem 3rem;
  }
}

.StandardOutputPane {
  pre {
    margin: 2rem 3rem;
  }
}

.AssetCardPane {
  h1 {
    margin: 2rem;
  }

  .buttons {
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
}

.AssetCardList {
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .AssetCard {
    width: 20rem;
    margin: 2rem 3rem;
    background-color: #afa;
    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      code {
        font-size: 1.25rem;
        color: black;
      }
    }
  }
}

.ErrorReportPane {
  margin: 2rem 3rem;

  .ErrorReportAlert {
    code {
      color: #600;
    }

    li {
      margin: 0.5rem 0px;
    }

    .go-to-line {
      cursor: pointer;
      background-color: #007bff;
      color: white;
      padding: 6px;
      border-radius: 4px;
    }

    .go-to-line:hover {
      background-color: #0069d9;
    }
  }
}

.StageControlPseudoButton {
  cursor: pointer;
}

.GreenFlag {
  background-color: #3e3;
  border: 1px solid #1c1;
  width: 4em;
}

.GreenFlag:hover {
  background-color: #2d2;
}

.RedStop {
  background-color: #e33;
  border: 1px solid #c11;
  width: 4em;
}

.RedStop:hover {
  background-color: #d22;
}
