@mixin align-center-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin full-center-middle {
  width: 100%;
  height: 100%;
  @include align-center-middle();
}

@mixin background-color-as-button($base-bg) {
  background-color: $base-bg;
  &:hover {
    background-color: shade-color($base-bg, $btn-hover-bg-shade-amount);
  }
  transition: background-color 0.15s ease-in-out !important;
}

@mixin background-color-as-button-precomputed($base-bg, $hover-bg) {
  background-color: $base-bg;
  &:hover {
    background-color: $hover-bg;
  }
  transition: background-color 0.15s ease-in-out;
}

@mixin foreground-color-as-button($base-fg) {
  color: $base-fg;
  &:hover {
    color: shade-color($base-fg, $btn-hover-bg-shade-amount);
  }
  transition: color 0.15s ease-in-out;
}

@mixin full-height-grid-center-center {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin pytch-colours-hover {
  font-style: italic;
  user-select: none;
  cursor: pointer;
  color: $pytch-colour-main-blue;
  &:hover {
    color: $pytch-colour-accent-lavender;
  }
}

////////////////////////////////////////////////////////////////////////

@mixin min-dimens-zero() {
  min-width: 0;
  min-height: 0;
}

@mixin grid-hstack-two($left, $right) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: $left $right;
}

@mixin grid-hstack-three($left, $middle, $right) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: $left $middle $right;
}

@mixin grid-hstack-four($c0, $c1, $c2, $c3) {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: $c0 $c1 $c2 $c3;
}

@mixin grid-vstack-two($top, $bottom) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $top $bottom;
}

@mixin push-down-on-click() {
  &:active {
    position: relative;
    top: 2px;
  }
}

@mixin shrink-down-on-click() {
  &:active {
    transition: transform 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.95);
    transform-origin: center;
  }
}