@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #ddf;
  overflow-y: auto;
}

.NavBar {
  background-color: #228;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
  }
  h1 {
    padding: 8px;
    margin: 0px 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  h1:hover,
  li:hover {
    background-color: #44b;
    border-radius: 4px;
  }
  ul {
    margin: 0px;
    li {
      display: inline-block;
      margin-right: 2rem;
      padding: 8px;
      font-size: 1.25rem;
      color: white;
      cursor: pointer;
      user-select: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.welcome-text {
  font-size: 110%;
  margin: 2rem 6rem;

  h1 {
    margin: 1.5rem 0rem;
  }

  .bridge-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bridge-text {
    max-width: 48rem;
    margin: 2rem 3rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      text-align: justify;
      margin: 0.5rem 3rem;

      &.contact-email {
        font-size: 1.125rem;
        text-align: center;
      }
    }
  }

  .demo-cards {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h2 {
    margin: 3.5rem 0rem 1.5rem;
  }

  .way-of-using-pytch {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-wrapper {
      flex-shrink: 0;
      flex-grow: 0;
      width: 12rem;
      text-align: center;
    }

    p {
      margin: 0rem;
      flex-grow: 1;
    }
  }

  .end-matter {
    margin: 3rem 0rem 5rem;

    h3 {
      margin-top: 2.5rem;
    }
  }
}

.loading-in-progress {
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .background {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 4px;
    background-color: black;
    opacity: 0.6;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .content {
    z-index: 2;
    color: white;
    opacity: 1;
    font-size: 2rem;
    text-align: center;
  }
}

$tutorial-mini-card-screenshot-width: 240px;
$tutorial-mini-card-border-gap: 2px;
$tutorial-mini-card-border-width: 3px;

.TutorialMiniCard {
  margin: 1rem 0.5rem;
  position: relative;

  p {
    max-width: calc(
      #{$tutorial-mini-card-screenshot-width} + 2 * (#{$tutorial-mini-card-border-width} +
            #{$tutorial-mini-card-border-gap})
    );
  }

  h2 {
    margin: 0.25rem 0rem 0.75rem;
    text-align: center;
    font-size: 1.5rem;
    color: #111;
  }

  .screenshot {
    padding: 2px;
    border-radius: 2px;
    border: 3px solid transparent;
    &.enabled {
      &:hover {
        border: 3px solid rgb(0, 123, 255);
      }
      cursor: pointer;
    }
  }
}

$tutorial-display-side-margin: 3rem;

.ProjectList,
.TutorialList {
  overflow-y: auto;
  flex-shrink: 1;
  flex-grow: 1;
  h1 {
    margin: 1.5rem 0px;
    text-align: center;
  }
  ul {
    margin: 0px #{$tutorial-display-side-margin};
    padding: 0px;
    list-style: none;
    li {
      p {
        margin: 0px;
        padding: 1.25rem 0px;
        font-size: 1.125rem;
      }
      :hover {
        text-decoration: none;
      }
      .project-name {
        font-weight: bold;
      }
      /* Temporary while developing: */
      .project-id {
        margin-right: 2rem;
        color: #888;
      }
      .project-summary {
        margin-left: 2rem;
        font-style: italic;
      }
      .ProjectCard:hover {
        border: 1px solid black;
      }
      div:after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }
  .buttons {
    margin: 2.5rem 0px;
    text-align: center;

    button {
      margin: 0px 2rem;
    }
  }
  .image-container {
    float: right;
    margin: 1rem 2rem 0rem 2rem;
  }
  .dropdown-wrapper {
    float: right;
    margin: 1rem;
  }
  .loading-in-progress {
    p {
      font-size: 2rem;
    }
  }
  .loading-placeholder,
  .loading-error {
    margin: 0rem #{$tutorial-display-side-margin};
    border-radius: 4px;

    p {
      padding: 4rem;
      text-align: center;
    }
  }
  .loading-placeholder {
    background-color: #aaa;
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
  .loading-error {
    background-color: #faa;
    p {
      font-size: 1.25rem;
      color: black;
    }
  }
  .button-wrapper {
    margin-top: 2.5rem;
    text-align: center;
  }
}

.ProjectList:focus,
.TutorialList:focus {
  outline: none;
}

.ProjectCard {
  cursor: pointer;
}

.TutorialCard {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .button-bar {
    display: inline-block;
    button {
      margin: 0.5rem 1.5rem 1.5rem;

      &:first-child {
        margin-left: 0rem;
      }
    }
  }
}

.tutorial-list li {
  position: relative;
}

.dropdown-item.danger {
  background-color: #faa;

  &:hover {
    background-color: #d88;
  }
}

button.awaiting-action {
  position: relative;
  .spacing-text {
    visibility: hidden;
  }
  .spinner-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
