@import "../node_modules/bootstrap/scss/bootstrap";
@import "./pytch-variables.scss";

////////////////////////////////////////////////////////////////////////

$panel-background: $main-bg-color;

$focused-item-background-glow: lighten($primary, 25);

////////////////////////////////////////////////////////////////////////

// Background colours for the various "cards": actor, appearance, sound.
$stage-card-background: $pytch-colour-accent-blue;
$stage-card-color: white;

$sprite-card-background: $pytch-colour-main-blue;
$sprite-card-color: white;