@import "../node_modules/bootstrap/scss/bootstrap";

$monospace-fonts: "Menlo", "Monaco", "Ubuntu Mono", "Consolas",
  "source-code-pro", monospace;

$help-sidebar-expand-button-background: lighten($primary, 20);

$scratch-hat-block-background: #ffbf00;
$scratch-hat-block-text-colour: #222;

$hat-block-TR-radius: 8px;

$help-sidebar-content-width: 28rem;

////////////////////////////////////////////////////////////////////////

// TODO: "colour" or "color"?
$pytch-colour-main-blue: #306998;
$pytch-colour-main-blue-darkened: #265378; // AAA contrast on #f0f0f0
$pytch-colour-main-yellow: #fff792;
$pytch-colour-accent-flame: #ff5f38;
$pytch-colour-accent-pink: #ff44b0;
$pytch-colour-accent-mint: #00ffbc;
$pytch-colour-accent-cyan: #00b5b0;
$pytch-colour-accent-blue: #0082cf;
$pytch-colour-accent-lavender: #9097ff;
$pytch-colour-tint-mint: #99e1df;
$pytch-colour-tint-lavender: #CDD0FF;
$pytch-colour-tint-blue: #ebf5f9;

////////////////////////////////////////////////////////////////////////

$main-bg-color: #f8f8f8;
$secondary-bg-color: #f0f0f0;
$hover-secondary-bg-color: darken($secondary-bg-color, 5);
$busy-overlay-bg-color: #aaaaaa;
$busy-panel-bg-color: #e0e0e0;
$box-shadow-color: #bbbbbb;
$inactive-text-option-color: #666;
$inactive-icon-option-color: #999;
$panel-divider-color: mix($pytch-colour-main-blue, white, 70%);

$border-subdued-color: mix($pytch-colour-main-blue, white, 50%);

$text-main-color: #000;
$text-subdued-color: #444;
$text-very-subdued-color: #aaa;

$ide-bg-color: $pytch-colour-tint-blue;

$min-lesson-column-width: 27rem;
$min-actor-properties-width: 24rem;

$activity-bar-width: calc(5rem + 6px);
$activity-bar-tab-height: 7rem;

$panel-divider-border-spec: 1px solid $panel-divider-color;

$canvas-border-width: 2px;

////////////////////////////////////////////////////////////////////////

$pytch-title-font: "PxGrotesk-Bold", sans-serif;
$pytch-body-font:
  "Hanken Grotesk",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

////////////////////////////////////////////////////////////////////////

// As used by Tailwind:
$width-breakpoint-sm: 640px;
$width-breakpoint-md: 768px;
$width-breakpoint-lg: 1024px;
$width-breakpoint-xl: 1280px;
$width-breakpoint-2xl: 1536px;

$navbar-single-row-height: 70px;