@import "./pytch-variables.scss";

@mixin white-hover-yellow() {
  color: white;
  &:hover {
    color: $pytch-colour-main-yellow;
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: $navbar-single-row-height;

  background-color: $pytch-colour-main-blue;

  h1 {
    display: inline-block;
    padding: 0px;
    margin: 0px 2rem 0px 0px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $pytch-title-font;
    @include white-hover-yellow();
  }

  h1,
  ul {
    padding-left: 9px;
    @media screen and (min-width: 180px) {
      padding-left: calc(9px + (23 / 120) * (100vw - 180px));
    }
    @media screen and (min-width: 300px) {
      padding-left: 32px;
    }
  }

  ul {
    display: none;
    &.menuIsExpanded {
      display: block;
      z-index: 10;
    }

    position: absolute;
    left: 0px;
    right: 0px;
    top: $navbar-single-row-height;
    min-height: calc(100vh - $navbar-single-row-height);

    background-color: inherit;
    list-style-type: none;
    margin: 0px;
    padding-top: 1rem;

    @media screen and (min-width: $width-breakpoint-lg) {
      display: block;
      position: relative;
      min-height: auto;
      padding-top: 0px;
      margin-right: 12px;
      top: 0px;
    }

    li {
      padding: 12px 0px;
      font-size: 1rem;
      color: white;
      user-select: none;

      a {
        color: inherit;
        cursor: pointer;
        @include white-hover-yellow();

        &.dropdown-item {
          color: black;

          &:active {
            color: white;
          }
        }
      }

      @media screen and (min-width: $width-breakpoint-lg) {
        display: inline-block;
        padding: 20px;
      }
    }
  }

  .burger-menu {
    margin-right: 1rem;
    font-size: 32px;
    @include white-hover-yellow();
    cursor: pointer;

    @media screen and (min-width: $width-breakpoint-lg) {
      display: none;
    }
  }
}

.NavBarContent {
  background-color: $pytch-colour-main-blue;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 20px;

  @media screen and (min-width: $width-breakpoint-lg) {
    padding: 0 30px;
  }
}

.title-and-version {
  margin-right: auto;
}

.NavBarContent ul li svg {
  height: 1em;
  margin-left: 5px;
  margin-top: -9px;
}

.NavBarContent ul li .contact-us-link svg {
  margin: 0;
}

.NavBarContent ul li:hover svg {
  stroke: $pytch-colour-main-yellow;
}

.NavBarContent ul li svg {
  stroke: white;
}