$drag-resizer-height: 0.5rem;

.ProjectIDE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5rem;
  display: flex;

  &.wide-info-pane {
    flex-direction: column;
  }
  &.tall-code-editor {
    flex-direction: row;
  }
}

.load-project-failure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  p {
    max-width: 36rem;
    font-size: 1.25rem;
    background-color: #faa;
    color: black;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 3rem;
  }
}
.StageWithControls {
  display: flex;
  flex-direction: column;
}

.StageControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div.StageControlPseudoButton {
    height: 36px;
    border-radius: 4px;
  }

  > * {
    margin-left: 3px;
    margin-right: 3px;
  }

  > *:first-child {
    margin-left: 0px;
  }

  > *:last-child {
    margin-right: 0px;
  }

  .save-button {
    span {
      padding: 4px;
      border-radius: 4px;
    }
    &.unsaved-changes-exist span {
      background-color: yellow;
      color: black;
    }
  }
}

#pytch-stage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pytch-stage-layers {
  position: relative;
  margin-top: 0.5rem;
}

$canvas-border-width: 1px;

#pytch-canvas {
  border: $canvas-border-width solid grey;
  border-radius: 2px;
  background: white;
  display: block;
  visibility: visible;

  &.resize-active {
    visibility: hidden;
  }
}

#pytch-speech-bubbles {
  position: absolute;
  left: 0px;
  top: 0px;
  border: $canvas-border-width solid transparent;
  box-sizing: content-box;
  visibility: visible;

  &:focus {
    outline: none;
  }

  &.resize-active {
    visibility: hidden;
  }
}

#stage-resize-indicator {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #888;
  border: 1px solid #444;
  box-sizing: content-box;
  visibility: hidden;

  &.resize-active {
    visibility: visible;
  }
}

$speech-bubble-background: #e8e8e8;
$speech-bubble-arrow: #ccc;
$speech-bubble-width: 210px;
$speech-bubble-max-height: 180px;

.speech-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: $speech-bubble-width;

  .content {
    background-color: $speech-bubble-background;
    padding: 4px;
    border: 2px solid $speech-bubble-arrow;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    text-align: center;
    white-space: pre-wrap;
    max-width: 100%;
    max-height: $speech-bubble-max-height;
    overflow-y: hidden;
  }

  .arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid $speech-bubble-arrow;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

/* This div appears at top level in the DOM even though it's logically
   part of the editor. */
.ace_editor.ace_autocomplete {
  width: 40rem;

  .ace_line {
    font-size: 90%;
    .ace_ {
      color: black;
    }
    .ace_completion-meta {
      color: #333;
      opacity: 1;
      font-style: italic;
      margin-left: 0.5em;
      margin-right: 0em;
    }
    .ace_completion-message {
      margin-left: 0.5rem;
    }
  }
}

.CodeEditor {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.5rem;
  display: flex;
  position: relative;
  z-index: 0;

  #editor {
    background-color: white;
    flex-grow: 1;
  }

  .ReadOnlyOverlay {
    z-index: 10;
    position: absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    background-color: black;
    color: white;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      opacity: 1;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.CodeAndStage {
  display: flex;
  flex-direction: row;
}

.StageAndInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-resizer {
  height: $drag-resizer-height;
  flex-shrink: 0;

  &:hover {
    cursor: ns-resize;
    background-color: black;
    opacity: 0.2;
  }
}

.InfoPanel-container {
  position: relative;

  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;

  .LayoutChooser {
    position: absolute;
    height: 32px;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    button {
      height: 32px;
      margin-left: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .layout-icon {
      width: 24px;
    }
  }
}

div.spacer-instead-of-resizer {
  width: 100%;
  height: $drag-resizer-height;
  flex-shrink: 0;
}

.InfoPanel {
  min-height: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 0px;
  a {
    background-color: #eef;
  }
}

.InfoPanel + div {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  background-color: white;
  position: relative;
}

.InfoPane {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.AssetCardPane,
.StandardOutputPane,
.EditorWebSocketInfo,
.ErrorsPane {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;

  p.placeholder {
    font-size: 1.125rem;
    margin: 2rem 3rem 1rem 3rem;
  }
}

.StandardOutputPane,
.EditorWebSocketInfo {
  pre {
    margin: 2rem 3rem;
  }
}

.AssetCardPane {
  h1 {
    margin: 2rem;
  }

  .buttons {
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
}

.AssetCardList {
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .AssetCard {
    width: 20rem;
    margin: 1rem 3rem;
    background-color: #afa;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      code {
        font-size: 1.25rem;
        color: black;
      }
    }

    .asset-preview {
      text-align: center;

      img {
        background-color: #bbb;
      }
    }

    .dropdown-item .with-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.ErrorReportPane {
  margin: 2rem 3rem;

  .ErrorReportAlert {
    code {
      color: #000;
      background-color: #eea;
      padding: 4px;
      border-radius: 4px;
    }

    blockquote {
      background-color: #700;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      margin-left: 1rem;
      margin-right: 1rem;
      code {
        padding: 0px;
        background-color: inherit;
        color: white;
      }
    }

    li {
      margin: 0.5rem 0px;
    }

    .go-to-line {
      cursor: pointer;
      background-color: #007bff;
      color: white;
      padding: 6px;
      border-radius: 4px;

      &:hover {
        background-color: #0069d9;
      }
    }
  }
}

.StageControlPseudoButton {
  cursor: pointer;
}

.GreenFlag {
  background-color: #3e3;
  border: 1px solid #1c1;
  width: 4em;

  &:hover {
    background-color: #2d2;
  }
}

.RedStop {
  background-color: #e33;
  border: 1px solid #c11;
  width: 4em;

  &:hover {
    background-color: #d22;
  }
}

.modal-body .alert {
  margin-top: 1rem;
  p {
    margin: 0.5rem 1rem;
  }
}

.DisplayScreenshot .modal-content {
  img {
    display: block;
    margin: 1rem auto;
    border: 8px solid #ddd;
    border-radius: 4px;
  }
}

.DownloadZipfile {
  .icon-container {
    margin: 1rem 0;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
